@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Raleway, Inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img 
{
    max-width: 100%;
    height: auto;
}

body
{
    width: 100%;
}

/*Barra de Scroll*/

body::-webkit-scrollbar 
{
    width: 3px;
    backdrop-filter: blur(0.1px);
    background-color: rgba(244, 246, 251, .01);
}

body::-webkit-scrollbar-thumb 
{
    background-color: #358cd8c5;
    border-radius: 10px;
}

/*          Z-INDEX : columna-navegacion = 10000
                      pag-Navegacion = 7500
                      cursor = 12500 
                      violin = 11000
                      menu hamburguesa = 11000
                      tarjetas nav = 8500
                      enlaces tipo esfera (en nav): 8500
                                         */

/*Columna de navegacion y musica*/    

.columna-navegacion
{
    position: fixed;
    width: 4vw;
    min-width: 35px;
    height: 100vh;
    border-right: 0.0625vw solid rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.nav-nombre
{
    transform: rotate(-90deg);
    position: fixed;
    top: 6.096875vw;
    border: none;
    width: 20vh;
    font-family: monospace, Raleway, Montserrat, sans-serif;
    font-size: .9vw;
    letter-spacing: 0.13210039630118892vh;
    text-align: center;
}

.violin-musica
{
    position: fixed;
    bottom: 10vh;
    left: 0.875vw;
    width: 2.25vw;
    transition: all .4s;
    z-index: 11000;
}
.violin-musica:hover
{
    transition: all .4s;
    left: 0.625vw;
    width: 2.75vw;
}
    
/*Menu hamburguesa*/

.toggle
{
    position: fixed;
    top: 46vh;
    left: 0.5vw;
    width: 3vw;
    height: 3vw;
    border: 1px solid blue;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s;
    z-index: 11000;
}
.hover-menu
{
    transition: all .5s;
    width: 3.25vw;
}
.toggle span
{
    position: absolute;
    width: 70%;
    height: 0.20vh;
    background: rgb(26, 26, 26);
    mix-blend-mode: difference;
    border-radius: 0.5284015852047557vh;
    transition: .5s;
}
.toggle span:nth-child(1)
{
    transform: translateY(-10px);
    width: 50%;
    left: 10%;
    top: 44%;
}
.toggle span:nth-child(2) 
{
    transform: translateY(10px);
    width: 30%;
    left: 10%;
    bottom: 45%;
}

/*toggle span active*/

.toggle.active span:nth-child(1)
{
    top: 50%;
    width: 70%;
    transform: translateY(0px) rotate(45deg);
    transition-delay: .125s;
}
.toggle.active span:nth-child(2) 
{
    bottom: 46%;
    width: 70%;
    transform: translateY(0px) rotate(315deg);
    transition-delay: .25s;
}
.toggle.active span:nth-child(3)
{
    transform: translateX(50px);
}

/*Media Querys de Columna de navegacion y musica*/

@media (max-width : 991px) 
{
    .columna-navegacion 
    {
        width: 7vw;
        min-width: 35px;
    }
    .nav-nombre 
    {
        top: 7.396875vw;
        width: 20vh;
        font-size: 1.285vw;
    }
    .toggle
    {
        left: 0.875vw;
        width: 5.25vw;
        height: 5.25vw;
    }
    .violin-musica 
    {
        bottom: 10vh;
        left: 1.53125vw;
        width: 3.9375vw;
    }
    .violin-musica:hover 
    {
        left: 1.425vw;
        width: 4.15vw;
    }
}

@media (max-width : 479px) 
{
    .columna-navegacion 
    {
        width: 100%;
        min-height: 35px;
        height: 17.5vw;
        border-right: none;
        border-bottom: 0.0625vw solid rgb(63, 63, 63);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-nombre 
    {
        transform: rotate(0deg);
        width: 30vh;
        font-family: monospace,
        Raleway,
        Montserrat,
        sans-serif;
        font-size: 3.5vw;
        letter-spacing: 0.13210039630118892vh;
        border: none;
    }
    .toggle 
    {
        width: 10.25vw;
        height: 10.25vw;
        position: fixed;
        top: 3.625vw;
        left: 85vw;
        border: 1px solid blue;
        border: none;
    }
    .violin-musica 
    {
        top: 4.75vw;
        left: 7vw;
        width: 8vw;
        border: 1px solid red;
        border: none;
    }
    .violin-musica:hover {
        left: 7vw;
        width: 8vw;
    }
}


/*Pagina de navegacion*/

.pag-Navegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .8s ease-out,
        transform .8s ease-out;
    opacity: 0;
    transform: translate(-100%, 0%);
    z-index: 7500;
    background-color: #e9f0f1;
}
/*Media Querys de Pagina de Navegacion*/
@media( max-width : 479px)
{
    .pag-Navegacion
    {
        transform: translate(0%, -100%);
    }
}
.pag-Navegacion.active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .8s ease-out, transform .8s ease-out;
}

/*Tarjetas , Caracteristicas generales */

.box-tarjetas
{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5%;
    width: 75%;
    height: 60%;
    position: relative;
    top: calc(50% - 7vw);
    left: 8vw;
    padding-left: 3.5%;
    padding-right: 3.5%;
    /*border: 1px solid red;*/
}

/*Media Querys de Box de Tarjetas*/
@media (max-width : 1024px) {
    .box-tarjetas 
    {
        width: 93vw;
        left: 5.5vw;
        top: calc(45%);
        justify-content: space-evenly;
    }
}
@media (max-width : 991px) {
    .box-tarjetas 
    {
        left: 7vw;
    }
}
@media (max-width : 581px) {
    .box-tarjetas 
    {
        width: 93vw;
        top: calc(35%);
    }
}
@media (max-width : 537px) {
    .box-tarjetas 
    {
        width: 93vw;
        top: calc(35%);
    }
}
@media (max-width : 479px) {
    .box-tarjetas 
    {
        width: 100vw;
        top: calc(35%);
        left: 0vw;
        padding-left: 0%;
        padding-right: 0%;
    }
}
/**/
.tarjeta-nav
{
    width: 25%;
    min-width: 200px;
    height: 24vw;
    min-height: 250px;
    border-radius: 0.9375vw;
    border-bottom-left-radius: 9.375vw;
    border-bottom-right-radius: 9.375vw;
    box-shadow: 0 0.5375vw 0 #fff,
    inset 0 -0.5375vw 0 rgba(255, 255, 255, .25),
    0 1.1875vw 0 rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(37, 198, 219);
    z-index: 8500;
    transition: all 0.5s ease-out;
    position: relative;
    top: 0;
}
/*Media Querys de Tarjetas (caracteristicas generales)*/

@media ( max-width: 1024px){
    .tarjeta-nav
    {
        min-width: 150px;
        min-height: 250px;
        border-bottom-left-radius: 11.375vw;
        border-bottom-right-radius: 11.375vw;
    }
}
@media (max-width: 730px) {
    .tarjeta-nav 
    {
        min-width: 150px;
        min-height: 230px;
        border-bottom-left-radius: 13.375vw;
        border-bottom-right-radius: 13.375vw;
    }
}
@media (max-width : 582px) {
    .tarjeta-nav 
    {
        min-width: 150px;
        min-height: 200px;
        border-bottom-left-radius: 15.375vw;
        border-bottom-right-radius: 15.375vw;
    }
}
@media (max-width : 479px) {
    .tarjeta-nav 
    {
        min-width: 150px;
        min-height: 200px;
        border-bottom-left-radius: 22.375vw;
        border-bottom-right-radius: 22.375vw;
    }
}
/**/
.tarjeta-nav:hover
{
    transition: all 0.5s ease-out;
    top: -15px;
}
.icono-tarjeta
{
    position: relative;
    width: 6.25vw;
    height: 6.25vw;
    background: #e9f0f1;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    box-shadow: 0 0.625vw 0 rgb(0, 0, 0, .1),
    inset 0 -0.5vw 0 #fff;
    z-index: 8500;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Media Querys de alojamiento y tamaño de los iconos de las tarjetas*/

@media (max-width: 642px) {
    .icono-tarjeta 
    {
        width: 6.25vw;
        min-width: 40px;
        height: 6.25vw;
        min-height: 40px;
    }
}
/**/
.icono-tarjeta::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -1.875vw;
    width: 1.875vw;
    height: 1.875vw;
    border-top-right-radius: 3.125vw;
    box-shadow: 0.9375vw -0.9375vw 0 0.9375vw #e9f0f1;
}
.icono-tarjeta::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -1.875vw;
    width: 1.875vw;
    height: 1.875vw;
    border-top-left-radius: 3.125vw;
    box-shadow: -0.9375vw -0.9375vw 0 0.9375vw #e9f0f1;
}
.icono-tarjeta ion-icon
{
    color: #67cac5;
    position: relative;
    font-size: 5em;
    z-index: 8500;
    --ionicon-stroke-width: 24px;
}
.contenido-tarjeta
{
    position: absolute;
    width: 100%;
    padding: 1.875vw;
    padding-top: 6.5625vw;
    text-align: center;
}
/*Media Querys del contenido en texto de las tarjetas*/
@media ( max-width: 642px){
    .contenido-tarjeta
    {
        padding-top: 40px;
    }
}
.contenido-tarjeta a
{
    font-size: calc(0.8em + 1vw);
    color: white;
    text-decoration: none;
}
.contenido-tarjeta p
{
    font-size: calc(0.6em + 0.45vw);
    margin-top: 0.625vw;
    color: white;
    line-height: 1.5em;
    position: static;
    height: 25vh;
}

/*Tarjetas , datos personalizados */

/*Tarjeta biografia */

.tarjeta-bio
{
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}
.icono-bio ion-icon
{
    color: #67cac5;
    font-size: 5em;
    --ionicon-stroke-width: 24px;
}
.contenido-bio a
{
    color: white;
    margin-bottom: 1.875vw;
    letter-spacing: 0.1875vw;
}
.contenido-bio p 
{
    margin-top: 0.625vw;
    color: white;
    line-height: 1.5;
}

/*Tarjeta Resumen*/

.tarjeta-resumen 
{
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}
.icono-resumen ion-icon 
{
    color: #6ec6e9;
    font-size: 5em;
    --ionicon-stroke-width: 24px;
}
.contenido-resumen a 
{
    color: white;
    margin-bottom: 1.875vw;
    letter-spacing: 0.1875vw;
}
.contenido-resumen p 
{
    margin-top: 0.625vw;
    color: white;
    line-height: 1.5;
}

/*Tarjeta Frases*/

.tarjeta-frases
{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.icono-frases ion-icon 
{
    color: #fcb69f;
    font-size: 5em;
    --ionicon-stroke-width: 24px;
}
.contenido-frases a 
{
    color: white;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.contenido-frases p
{
    margin-top: 10px;
    color: white;
    line-height: 1.5;
}

/*Box enlaces Inicio, Juegos y mas (Box PADRE General)*/

.box-enlaces-inicio-games-more
{
    width: 60vw;
    height: 20%;
    position: absolute;
    top: 5%;
    left: calc(4vw + 18vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*Media Querys de box con enlaces Inicio, Juegos y mas (tipo esferas), Box PADRE General*/
@media( max-width : 1024px){
    .box-enlaces-inicio-games-more
    {
        top: calc(25% - 10vw);
    }
}
@media(max-width : 991px) {
    .box-enlaces-inicio-games-more 
    {
        top: calc(25% - 10vw);
        left: calc(7vw + 16.5vw);
    }
}
@media(max-width : 735px) {
    .box-enlaces-inicio-games-more 
    {
        top: calc(10%);
    }
}
@media(max-width : 479px) {
    .box-enlaces-inicio-games-more 
    {
        top: calc(12%);
        width: 80vw;
        left: 10vw;
    }
}
/*Divs Contenedores de ramas junto a enlaces tipo esfera dentro del contenedor padre anterior*/
.box-contiene-rama-junto-a-esfera
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Modelo (esferico) del contenedor de los Enlaces internos (Pag navegacion) de tipo esfera*/
.div-contenedor-esfera
{
    min-width: 70px;
    width: 6.375vw;
    min-height: 70px;
    height: 6.375vw;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8500;
    top: 0;
    position: relative;
}
.div-contenedor-esfera:hover
{
    transition: all 0.5s ease-out;
    top: -5px;
}
.a-enlaces-esfera
{
    font-size: calc(0.6em + 0.45vw);
    text-decoration: none;
}
/*Enlace interno (Pag navegacion) de Inicio*/
.div-inicio-pag-nav
{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.pag-nav-enlace-inicio
{
    
}
/*Enlace interno (Pag navegacion) de Juegos*/
.div-Juegos-pag-nav
{
    background-color: rgb(149, 149, 231);
}
.pag-nav-enlace-juegos
{
    
}
/*Enlace interno (Pag navegacion) de Mas*/
.div-Mas-pag-nav
{
    background-color: rgb(104, 211, 211);
}
.pag-nav-enlace-mas
{
   
}

/*Ramas svg*/
/*Estilo general de todas las ramas*/
.ramas-estilo-general
{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

/*Ramas de Enlaces tipo esfera*/
.ramas-de-esferas
{
    width: 27%;
    min-width: 150px;
    transform: scale(1) rotate(180deg) scaleY(1) scaleX(1);
    position: absolute;
}

/*Ramas que no son de las esferas*/

.Box-contenedor-ramas-de-baseDePagina-y-ladoDerecho
{
    width: 96vw;
    left: 4vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Media Querys del contenedor de las ramas del lado derecho y de la base de pagina Navegacion (del div anterior)*/
@media(max-width : 991px){
    .Box-contenedor-ramas-de-baseDePagina-y-ladoDerecho
    {
        left: 7vw;
        width: 93vw;
    }
}
@media(max-width : 479px) {
    .Box-contenedor-ramas-de-baseDePagina-y-ladoDerecho
    {
        left: 0;
        width: 100vw;
    }
}
/**/
.rama-base-de-pagina
{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 31%;
    transform: scale(1) rotate(65deg) scaleY(1.1) scaleX(1.1);
}
/*Media Querys de rama de base de pagina*/
@media(max-width : 1310px)
{
    .rama-base-de-pagina
    {
        left: 30%;
        width: 32%;
        top: 60%;
    }
}
@media(max-width : 1024px) {
    .rama-base-de-pagina 
    {
        left: 34%;
        top: 64%;
        width: 40%;
    }
}
@media(max-width : 840px) {
    .rama-base-de-pagina
    {
        left: 33.5%;
        top: 67%;
        width: 43%;
    }
}
@media(max-width : 730px) {
    .rama-base-de-pagina 
    {
        left: 32.5%;
        top: 65%;
        width: 45%;
    }
}
@media(max-width : 581px) 
{
    .rama-base-de-pagina 
    {
        left: 38%;
        top: 46%;
        width: 30%;
        transform: scale(1.1) rotate(17deg) scaleY(1.1) scaleX(1.1);
    }
}
@media(max-width : 425px) 
{
    .rama-base-de-pagina 
    {
        left: 39%;
        top: 50%;
        width: 30%;
        transform: scale(1.1) rotate(17deg) scaleY(1.1) scaleX(1.1);
    }
}
@media(max-width : 346px) {
    .rama-base-de-pagina {
        left: 40%;
        top: 54%;
        width: 30%;
        transform: scale(1.1) rotate(17deg) scaleY(1.1) scaleX(1.1);
    }
}
.rama-lado-derecho
{
    position: relative;
    top: 10%;
    right: -40vw;
    width: 100%;
    transform: scale(1.1) rotate(270deg) scaleY(1) scaleX(1);
}
/*Media Querys de rama de lado derecho*/
@media(max-width : 1182px)
{
    .rama-lado-derecho
    {
        transform: scale(1.3) rotate(270deg) scaleY(1) scaleX(1);
    }
}
@media(max-width : 1024px) 
{
    .rama-lado-derecho 
    {
        transform: scale(1.4) rotate(270deg) scaleY(1) scaleX(1);
        right: -50vw;
        top: -7%;
    }
}
@media(max-width : 900px){
    .rama-lado-derecho
    {
        transform: scale(1.6) rotate(270deg) scaleY(1) scaleX(1);
    }
}
@media(max-width : 700px) {
    .rama-lado-derecho 
    {
        transform: scale(1.8) rotate(270deg) scaleY(1) scaleX(1);
    }
}
@media(max-width : 581px) {
    .rama-lado-derecho 
    {
        transform: scale(2) rotate(270deg) scaleY(1) scaleX(1);
        top: 0%;
    }
}
@media(max-width : 479px) {
    .rama-lado-derecho {
        transform: scale(2) rotate(270deg) scaleY(1) scaleX(1);
        top: 10%;
        right: -47.5vw;
    }
}
@media(max-width : 400px) {
    .rama-lado-derecho {
        transform: scale(2.4) rotate(270deg) scaleY(1) scaleX(1);
        top: 10%;
        right: -48.5vw;
    }
}
